:root {
    --shade1 : #0099ff;
    --shade2 : #007acc;
    --shade3 : #005c99;
    --shade4 : #003d66;
    --shade5 : #001f33;

    --matte1   : rgb(10,10,10);
    --matte2   : rgb(20,20,20);
    --matte3   : rgb(30,30,30);
    --matte4   : rgb(40,40,40);
    --matte5   : rgb(50,50,50);
    --matte6   : rgb(60,60,60);
    --matte7   : rgb(70,70,70);
    --matte8   : rgb(80,80,80);
    --matte9   : rgb(90,90,90);
    --mgray    : rgb(100,100,100);
}

body {
    display: block;
    margin: 0px;
    background-color: var(--matte1);
    height: 2780px;

    --dot-bg: black;
    --dot-color: var(--mgray);
    --dot-size: 1px;
    --dot-space: 22px;
    
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}

/* the scrollbar on the right.. begone */
::-webkit-scrollbar {
    display: none;
}

/* PRIMARY HEADER */
.container-topheader {
    background-color: var(--matte2);
    width: 100%;
    height: 200px;
    text-align: center
}

.topheader-text {
    font-size: 150px;
    letter-spacing: -1px;
    font-weight: 7000;
    font-family: 'Inter', sans-serif;
    color: rgb(231, 231, 231);
    margin: 0;
}

/* STICKY HEADER */
.container-topheader-sticky {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--matte1);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100; /* Ensure the header appears above other elements */
}

.container-topheader-sticky a {
    text-decoration: none;
    color: white; /* text color */
    padding: 0px 20px; /* padding for button spacing */
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    font-size: 60px;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.container-topheader-sticky a:hover {
    background-color: var(--matte3);
}

/* SECTIONS */
.aboutme-title, .project-title, .contact-title, .skills-title {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 60px;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

section article {
    text-align: center;
    color: white;
}

section article p {
    margin-bottom: 10px;
    text-align: center;
    
}

/* GRID PROEJCTS */
.project-grid {
    text-align: center;
}
  
.projects-container {
    max-width: 1200px; /* Adjust this to your desired max width */
    margin: 0 auto; /* Center the grid horizontally */
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display 3 cards per line */
    gap: 20px;
}
  
.project-card {
    width: 100%;
    max-width: 400px; /* Adjust this to control the maximum width of each project card */
    border: 1px solid #ddd;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in-out;
    background-color: var(--matte1);
}

.project-card:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.02);
    cursor: pointer;
}
  
.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px solid #ddd;
}
  
.project-card a {
    padding: 10px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.project-card p {
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

/* CONTACT */
.contact-cards {
    margin: 0 auto; /* Center the cards */
}

.contact-card {
    width: 84px;
    height: 84px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    padding: 10px;
    margin: 0 auto; /* Center the cards */
}

.contact-card:hover {
    transform: scale(1.05);
}

.contact-card img {
    width: 84px;
    height: 84px;
    object-fit: fill;
}

/* SKILLS */
.skill-cards {
    margin: 0 auto;
}

.skill-cards p {
    text-align: center;
    color: white;
}

.skill-card {
    width: 84px;
    height: 84px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    padding: 10px;
    margin: 0 auto; /* Center the cards */
}

.skill-card:hover {
    transform: scale(1.05);
}

.skill-card img {
    width: 84px;
    height: 84px;
    object-fit: fill;
}

