:root {
    --shade1 : #0099ff;
    --shade2 : #007acc;
    --shade3 : #005c99;
    --shade4 : #003d66;
    --shade5 : #001f33;

    --matte1   : rgb(10,10,10);
    --matte2   : rgb(20,20,20);
    --matte3   : rgb(30,30,30);
    --matte4   : rgb(40,40,40);
    --matte5   : rgb(50,50,50);
    --matte6   : rgb(60,60,60);
    --matte7   : rgb(70,70,70);
    --matte8   : rgb(80,80,80);
    --matte9   : rgb(90,90,90);
    --mgray    : rgb(100,100,100);

    overflow-x: hidden;
}

body {
    display: block;
    margin: 0px;
    background-color: var(--matte1);

    background: linear-gradient(to top, #ff5010, #101010);

    animation: moveBackground 100s linear infinite;
}
    
@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* the scrollbar on the right.. begone */
::-webkit-scrollbar {
    display: none;
}


/* STICKY HEADER */
.container-topheader-sticky {
    height: 70px;
    width: 100%;
    display: flex;
    padding: 0px 0px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--matte1);
    gap: 30px;
    position: sticky;
    top: 0;
    z-index: 100;
    border: 1px solid var(--matte2);
}
    .container-topheader-sticky a {
        text-decoration: none;
        color: white;
        transition: all 0.1s ease-in-out;
    }
    .container-topheader-sticky a:hover {
        transform: scale(1.25);
        cursor: pointer;
    }

    .container-topheader-sticky .left-content {
        position: absolute;
        left: 10px;
        display: flex;
        align-items: center;
    }
    .container-topheader-sticky .left-content #sticky-logo {
        width: 48px;
        height: 48px;
    }
    .container-topheader-sticky #sticky-name {
        color: white;
        font-size: 24px;
        margin-left: 10px;
        letter-spacing: -1px;
        font-weight: 1000;
        font-family: Helvetica, sans-serif;
        transform: scale(1);
    }

    .container-topheader-sticky .right-content {
        position: absolute;
        right: 20px;
        display: flex;
        align-items: center;
    }


/* SECTIONS */
.aboutme-title, .project-title, .social-title, .skills-title, .photography-title, .blogs-title, .art-title {
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-size: 80px;
    letter-spacing: -1px;
    font-family: Helvetica, sans-serif;
    font-weight: 1000;
    background-image: linear-gradient(to right, #ffffff, #dba100);
    color: transparent;
    background-clip: text;
}
.aboutme-subtitle {
    text-align: center;
    margin-bottom: 40px;
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 10;
    font-family: 'times new roman', sans-serif;
    background-image: linear-gradient(to bottom, #d1dd61, #ff9900);
    color: transparent;
    background-clip: text;
}
    section article {
        text-align: center;
        color: white;
    }

    section article p {
        margin-bottom: 10px;
        text-align: center;
    }

    .skills-title {
        font-size: 40px;
    }


/* ABOUT ME */
.profile-pic {
    height: 84px;
    width: 84px;
    border-radius: 100%;
    transition: transform 0.3s ease-in-out;
}
    .profile-pic:hover ~ .profile-flag {
        transform: scale(1.05);
        transition: all ease-in-out 0.1s;
    }
    .profile-flag {
        transition: all ease-in-out 0.1s;

        --height-pfp: 84px;
        --width-pfp: 84px;

        --height: 88px;
        --width: 88px;

        position: absolute;
        border-radius: 100%;
        height: var(--height);
        width: var(--width);
        margin-left: calc((var(--width) - ((var(--width) - var(--width-pfp)) / 2)) * -1);
        margin-top: calc(((var(--height) - var(--height-pfp)) / 2) * -1);
        z-index: -1;
    }


/* SKILLS */
.skills-container p {
    text-align: center;
    color: white;
}
    .skills-classes {
        max-width: 350px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .skill-card {
        width: 84px;
        height: 84px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        padding: 10px;
    }

    .skill-card img {
        width: 84px;
        height: 84px;
        object-fit: fill;
    }

    .skill-card:hover {
        transform: scale(1.15);
    }


/* PROEJCTS */
.projects-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;

    transform-style: preserve-3d;
    transform: perspective(1000px);
}
    .projects-container .project-card {
        transition: .5s;
        filter: brightness(0.2);
        transform: translateZ(0);
    }

    .projects-container .project-card:hover {
        filter: brightness(1);
        transform: translateZ(100px);
    }
    .projects-container .project-card:hover +*{
        filter: brightness(0.7);
        transform: translateZ(50px);
        transform: rotateY(10deg);
    }
    .projects-container .project-card:hover +*+*{
        filter: brightness(0.5);
        transform: translateZ(20px);
        transform: rotateY(5deg);
    }
    .projects-container .project-card:has(+*:hover){
        filter: brightness(0.7);
        transform: translateZ(50px);
        transform: rotateY(-10deg);
    }
    .projects-container .project-card:has(+*+*:hover){
        filter: brightness(0.5);
        transform: translateZ(20px);
        transform: rotateY(-5deg);
    }
    
    .projects-container .project-card img {
        width: 400px;
        height: 600px;
        object-fit: cover;
    }

    .projects-container .project-card a {
        color: white;
        font-size: 3rem;
        font-weight: 700;
        font-family: Helvetica, Sans-Serif;
        opacity: 0;
        position: absolute;
        bottom: 20%;
        left: 16px;
    }

    .projects-container .project-card p {
        color: white;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        position: absolute;
        text-align: left;
        bottom: 10%;
        left: 16px;

        opacity: 0;
        transition: opacity 0.3s;
    }

    .projects-container .project-card:hover a, .projects-container .project-card:hover p {
        opacity: 1;
        transition: opacity 0.3s;
    }

@keyframes scrollLeft {
    to {
        left: -400px;
    }
}

.skeleton-project-container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;

    transform-style: preserve-3d;
    transform: perspective(1000px);
}
    .skeleton-project-container .project-card {
        width: 400px;
        height: 400px;
        position: absolute;
        left: max(calc(400px * 5), 100%);
        animation-name: scrollLeft;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        transition: .5s;
        filter: brightness(0.8);
        transform: translateZ(0);
    }

    .skeleton-project-container .item1 {
        animation-delay: calc(30s / 5 * (5 - 1) * -1);
    }
      
    .skeleton-project-container .item2 {
        animation-delay: calc(30s / 5 * (5 - 2) * -1);
    }
      
    .skeleton-project-container .item3 {
        animation-delay: calc(30s / 5 * (5 - 3) * -1);
    }
      
    .skeleton-project-container .item4 {
        animation-delay: calc(30s / 5 * (5 - 4) * -1);
    }
      
    .skeleton-project-container .item5 {
        animation-delay: calc(30s / 5 * (5 - 5) * -1);
    }

    .skeleton-project-container .project-card:hover {
        filter: brightness(1);
        transform: rotateX(5deg) translateZ(50px);
    }
    
    .skeleton-project-container .project-card img {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }

    .skeleton-project-container .project-card a {
        color: white;
        font-size: 3rem;
        font-weight: 700;
        font-family: Helvetica, Sans-Serif;
        opacity: 0;
        position: absolute;
        bottom: 20%;
        left: 16px;
    }

    .skeleton-project-container .project-card p {
        color: white;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        position: absolute;
        text-align: left;
        bottom: 10%;
        left: 16px;

        opacity: 0;
        transition: opacity 0.3s;
    }

    .skeleton-project-container .project-card:hover a, .skeleton-project-container .project-card:hover p {
        opacity: 1;
        transition: opacity 0.3s;
    }
    

/* PHOTOGRAPHY */
.photography-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;

    margin-left: 10px;
    margin-right: 10px;

    transform-style: preserve-3d;
    transform: perspective(1000px);
}
    .photography-box {
        border: 1px solid black;
        border-radius: 2px;
        overflow: hidden;

        transition: .5s;
    }

    .photography-box:hover {
        transform: scale(1.10);
    }

    .photography img {
        width: 100%;
        height: 100%;
    }


.art-container {
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;

    display: flex;
    justify-content: space-evenly;
}
    .art-box {
        border: 1px solid black;
        border-radius: 2px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.1s ease-in-out;
        background-color: black;
        border: 1px solid var(--matte2)
    }

    .art-box:hover {
        transition: all 0.1s ease-in-out;
        transform: scale(1.1);
        cursor: pointer;
    }

    .art img {
        width: 100%;
        height: 100%;
    }


/* SOCIALS */
.social-cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
}
    .social-card {
        width: 84px;
        height: 84px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        padding: 10px;
    }

    .social-card:hover {
        transform: scale(1.05);
    }

    .social-card img {
        width: 84px;
        height: 84px;
        object-fit: fill;
    }


.bottom-header {
    position: absolute;
    height: 80px;
    color: white;
    background-color: var(--matte1);
    width: 100%;
    margin-top: 20px;
}
    .bottom-header-text {
        color: var(--matte2);
        font-size: 2rem;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        text-align: left;
        margin-left: 10px;
        margin-top: 10px;
    }