:root {
    --shade1 : #0099ff;
    --shade2 : #007acc;
    --shade3 : #005c99;
    --shade4 : #003d66;
    --shade5 : #001f33;

    --matte1   : rgb(10,10,10);
    --matte2   : rgb(20,20,20);
    --matte3   : rgb(30,30,30);
    --matte4   : rgb(40,40,40);
    --matte5   : rgb(50,50,50);
    --matte6   : rgb(60,60,60);
    --matte7   : rgb(70,70,70);
    --matte8   : rgb(80,80,80);
    --matte9   : rgb(90,90,90);
    --mgray    : rgb(100,100,100);
}

body {
    display: block;
    margin: 0px;
    background-color: var(--matte1);

    --dot-bg: black;
    --dot-color: var(--mgray);
    --dot-size: 1px;
    --dot-space: 22px;
    
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}


/* the scrollbar on the right.. begone */
::-webkit-scrollbar {
    display: none;
}


/* PRIMARY HEADER */
.container-topheader {
    background-color: var(--matte2);
    width: auto;
    height: 200px;
    text-align: center
}
    .topheader-text {
        font-size: 150px;
        letter-spacing: -1px;
        font-weight: 7000;
        font-family: 'Inter', sans-serif;
        color: rgb(231, 231, 231);
        margin: 0;
    }

@media only screen and (max-width: 1024px) {
    .topheader-text {
        font-size: 100px;
    }
} 
@media only screen and (max-width: 620px) {
    .topheader-text {
        font-size: 60px;
    }
    .container-topheader {
        height: 80px;
    }
} 


/* STICKY HEADER */
.container-topheader-sticky {
    height: 50px;
    width: 100%;
    display: flex;
    padding: 10px 0px 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--matte1);
    gap: 30px;
    position: sticky;
    top: 0;
    z-index: 100; /* Ensure the header appears above other elements */
}
    .container-topheader-sticky a {
        text-decoration: none;
        color: white; /* text color */
        transition: all 0.1s ease-in-out;
    }
    .container-topheader-sticky a:hover {
        transition: all 0.1s ease-in-out;
        transform: scale(1.25);
        cursor: pointer;
    }
    .container-topheader-sticky .left-content {
        position: absolute;
        left: 10px;
        display: flex;
        align-items: center;
    }
    .container-topheader-sticky .left-content #sticky-logo {
        width: 48px;
        height: 48px;
    }
    .container-topheader-sticky #sticky-name {
        color: white;
        font-size: 24px;
        margin-left: 10px;
        letter-spacing: -1px;
        font-weight: 1000;
        font-family: 'outfit', sans-serif;
    }
    .container-topheader-sticky .right-content {
        position: absolute;
        right: 32px;
        display: flex;
        align-items: center;
    }

@media only screen and (max-width: 1024px) {
    .container-topheader-sticky #sticky-name {
        display: none;
    }
} 
@media only screen and (max-width: 620px) {
    .container-topheader-sticky .right-content {
        display: none;
    }
    .container-topheader-sticky .left-content {
        display: none;
    }
} 

/* SECTIONS */
.aboutme-title, .project-title, .contact-title, .skills-title, .photography-title, .blogs-title {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 80px;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: 'outfit', sans-serif;
}
    section article {
        text-align: center;
        color: white;
    }

    section article p {
        margin-bottom: 10px;
        text-align: center;
    }

    .skills-title {
        font-size: 40px;
    }

@media only screen and (max-width: 1024px) {
    .aboutme-title, .project-title, .contact-title, .skills-title, .photography-title, .blogs-title {
        font-size: 60px;
    }   
} 
@media only screen and (max-width: 620px) {
    .aboutme-title, .project-title, .contact-title, .skills-title, .photography-title, .blogs-title {
        font-size: 40px;
    }  
} 

/* ABOUT ME */
.profile-pic {
    height: 84px;
    width: 84px;
    border-radius: 100%;
    transition: transform 0.3s ease-in-out;
}
    .profile-pic:hover {
        transform: scale(1.05);
    }


/* SKILLS */
.skills-container p {
    text-align: center;
    color: white;
}
    .skills-classes {
        max-width: 350px; /* Adjust this to your desired max width */
        margin: 0 auto; /* Center the grid horizontally */
        display: grid;
        grid-template-columns: repeat(3,auto); /* Display 3 cards per line */
    }

    .skill-card {
        width: 84px;
        height: 84px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        padding: 10px;
        margin: 0 auto; /* Center the cards */
    }

    .skill-card img {
        width: 84px;
        height: 84px;
        object-fit: fill;
    }

    .skill-card:hover {
        transform: scale(1.05);
    }


/* PROEJCTS */
.projects-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    border: 1px solid black;
    border-radius: 2px;
}
    .project-card {
        width: 100%;
        height: 600px;

        transition: all 0.1s ease-in-out;
        background-color: var(--matte1);
    }

    .project-card:hover {
        transition: all 0.1s ease-in-out;
        transform: scale(1.02);
        cursor: pointer;
    }
    
    .project-card img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .project-card a {
        color: white;
        font-size: 30px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        opacity: 0;
        transition: opacity 0.3s;
        position: absolute;
        bottom: 20%;
        left: 16px;
    }

    .project-card p {
        color: white;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        opacity: 0;
        position: absolute;
        text-align: left;
        bottom: 10%;
        left: 16px;
    }

    .project-card:hover a, .project-card:hover p {
        opacity: 1;
        transition: opacity 0.3s;
    }

@media only screen and (max-width: 1024px) {
    .projects-container {
        grid-template-columns: repeat(2,auto);
        transform: scale(0.9);
    }
} 
@media only screen and (max-width: 620px) {
    .projects-container {
        grid-template-columns: repeat(1,auto);
        transform: scale(0.9);
    }
} 

/* BLOG */
.blogs-container {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(2,auto); */
    gap: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
}
    .blogs-card {
        height: auto;
        transition: all 0.1s ease-in-out;
        background-color: var(--matte1);
        border: 1px solid rgb(25, 25, 25);
        border-radius: 2px;
    }
    
    .blogs-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        transition: all 0.1s ease-in-out;
    }

    .blogs-card:hover img {
        transform: scale(0.99);
        transition: all 0.1s ease-in-out;
    }

    .blogs-card h2 {
        color: white;
        font-size: 40px;
        font-weight: 1000;
        font-family: 'Inter', sans-serif;
        top: -20%;
        margin-left: 10px;
        position: absolute;
        z-index: 1;
        opacity: 0.5;
    }
  
    .blogs-card a {
        display: block;
        position: relative;
        text-decoration: none;
    }

    .blogs-card p {
        color: whitesmoke;
        font-size: 10px;
        font-weight: 200;
        font-family: 'Inter', sans-serif;
        text-align: left;
        margin-left: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3); /* semi-transparent black background */
        padding: 10px;
        margin: 0;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    }

    .blogs-card:hover p {
        opacity: 1;
        transition: opacity 0.1s ease-in-out;
    }

    .blogs-card:hover h2 {
        opacity: 1;
        transition: opacity 0.1s ease-in-out;
    }
    
/* PHOTOGRAPHY */
.photography-container {
    max-width: 1500px; /* Adjust this to your desired max width */
    margin: 0 auto; /* Center the grid horizontally */
    display: grid;
    grid-template-columns: repeat(3,auto); /* Display 3 cards per line */
    gap: 10px;
}
    .photography-box {
        /* Adjust this to control the maximum width of each project card */
        border: 1px solid black;
        border-radius: 2px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.1s ease-in-out;
        background-color: black;
    }

    .photography-box:hover {
        transition: all 0.1s ease-in-out;
        transform: scale(1.1);
        cursor: pointer;
    }

    .photography img {
        width: 100%;
        height: 100%;
    }


/* CONTACT */
.contact-cards {
    margin: 0 auto; /* Center the cards */
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    align-items: center;
}
    .contact-card {
        width: 84px;
        height: 84px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        padding: 10px;
    }

    .contact-card:hover {
        transform: scale(1.05);
    }

    .contact-card img {
        width: 84px;
        height: 84px;
        object-fit: fill;
    }

@media only screen and (max-width: 1024px) {
    .contact-card {
        width: 64px;
        height: 64px;
    }
    .contact-card img {
        width: 64px;
        height: 64px;
        object-fit: fill;
    }
} 
@media only screen and (max-width: 620px) {
    .contact-card {
        width: 32px;
        height: 32px;
    }
    .contact-card img {
        width: 32px;
        height: 32px;
        object-fit: fill;
    }
} 

.bottom-header {
    position: absolute;
    height: 80px;
    color: white;
    background-color: var(--matte1);
    width: 100%;
}
    .bottom-header-text {
        color: var(--matte2);
        font-size: 20px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        text-align: left;
        margin-left: 10px;
        margin-top: 10px;
    }