:root {
    --shade1 : #0099ff;
    --shade2 : #007acc;
    --shade3 : #005c99;
    --shade4 : #003d66;
    --shade5 : #001f33;

    --matte1   : rgb(10,10,10);
    --matte2   : rgb(20,20,20);
    --matte3   : rgb(30,30,30);
    --matte4   : rgb(40,40,40);
    --matte5   : rgb(50,50,50);
    --matte6   : rgb(60,60,60);
    --matte7   : rgb(70,70,70);
    --matte8   : rgb(80,80,80);
    --matte9   : rgb(90,90,90);
    --mgray    : rgb(100,100,100);
}

body {
    display: block;
    margin: 0px;
    background-color: var(--matte1);

    --dot-bg: black;
    --dot-color: var(--mgray);
    --dot-size: 1px;
    --dot-space: 22px;
    
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}


/* the scrollbar on the right.. begone */
::-webkit-scrollbar {
    display: none;
}

/* PRIMARY HEADER */
.container-topheader {
    background-color: var(--matte2);
    width: 100%;
    height: 200px;
    text-align: center
}
    .topheader-text {
        font-size: 150px;
        letter-spacing: -1px;
        font-weight: 7000;
        font-family: 'Inter', sans-serif;
        color: rgb(231, 231, 231);
        margin: 0;
    }


/* STICKY HEADER */
.container-topheader-sticky {
    height: 50px;
    width: 100%;
    display: flex;
    padding: 10px 0px 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--matte1);
    gap: 30px;
    position: sticky;
    top: 0;
    z-index: 100; /* Ensure the header appears above other elements */
}
    .container-topheader-sticky a {
        text-decoration: none;
        color: white; /* text color */
        transition: all 0.1s ease-in-out;
    }
    .container-topheader-sticky a:hover {
        transition: all 0.1s ease-in-out;
        transform: scale(1.25);
        cursor: pointer;
    }
    .container-topheader-sticky .left-content {
        position: absolute;
        left: 10px;
        display: flex;
        align-items: center;
    }
    .container-topheader-sticky .left-content #sticky-logo {
        width: 48px;
        height: 48px;
    }
    .container-topheader-sticky #sticky-name {
        color: white;
        font-size: 24px;
        margin-left: 10px;
        letter-spacing: -1px;
        font-weight: 1000;
        font-family: 'outfit', sans-serif;
    }
    .container-topheader-sticky .right-content {
        position: absolute;
        right: 32px;
        display: flex;
        align-items: center;
    }


.commits-title {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 80px;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: 'outfit', sans-serif;
}

/* COMMITS */
.commits-container {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(2,auto); */
    gap: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
}
    a {
        text-decoration: none;
    }
    .commits-card {
        max-width: 800px;
        overflow: hidden;
        height: auto;
        transition: all 0.1s ease-in-out;
        background-color: var(--matte2);
        border: 1px solid var(--matte4);
        border-radius: 8px;
    }
    .commits-card:hover {
        transition: all 0.1s ease-in-out;
        transform: scale(1.05);
    }
    .commits-card h2 {
        color: white;
        font-size: 30px;
        font-weight: 1000;
        font-family: 'Inter', sans-serif;
        margin-left: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .commits-card h3 {
        color: greenyellow;
        font-size: 20px;
        font-weight: 200;
        font-family: 'Inter', sans-serif;
        text-align: left;
        margin-left: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .commits-card p {
        color: whitesmoke;
        font-size: 15px;
        font-weight: 200;
        font-family: 'Inter', sans-serif;
        text-align: left;
        margin-left: 5px;
    }